<nav th:fragment="navbarFragment" class="sticky top-0 bg-gray-500">
    <div class="max-w-7xl mx-auto flex justify-between items-center">

        <a href="#" class="text-white font-bold text-xl ml-5 mt-3 mb-3">BaekJoonSupporter</a>

        <ul class="flex mr-5 mt-3 mb-3">

            <li th:if="${@rq.logout}">
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Join
                </a>
            </li>

            <li th:if="${@rq.logout}">
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Login
                </a>
            </li>

            <li th:if="${@rq.login}">
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Logout
                </a>
            </li>

            <li th:if="${@rq.login}">
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Profile
                </a>
            </li>

            <li>
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Ranking
                </a>
            </li>

            <li>
                <a class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    Study
                </a>
            </li>

        </ul>
    </div>
</nav>