<nav th:fragment="navbarFragment" class="sticky top-0 bg-gray-500">
    <div class="max-w-7xl mx-auto flex justify-between items-center">

        <a href="/" class="text-white font-bold text-xl ml-5 mt-3 mb-3">BAEKER</a>

        <ul class="flex mr-5 mt-3 mb-3">

            <li th:if="${@rq.logout}">
                <a href="/member/join"
                   class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    회원가입
                </a>
            </li>

            <li th:if="${@rq.logout}">
                <a href="/member/login"
                   class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    로그인
                </a>
            </li>

            <li>
                <a href="/member/list"
                   class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    랭킹
                </a>
            </li>

            <li>
                <a href="/study/list"
                   class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    스터디 랭킹
                </a>
            </li>

            <li th:if="${@rq.login}" class="">
                <a href="/study/create"
                   class="text-white hover:text-gray-200 px-6 py-2 rounded ">
                    스터디 만들기
                </a>
            </li>

            <li th:if="${@rq.login}" class="">
                <a href="/member/profile/rank"
                   th:text="${@rq.member.nickName}"
                   class="text-white hover:text-gray-200 px-6 py-2 rounded ">
                </a>
            </li>

            <li th:if="${@rq.login}">
                <a href="javascript:;" onclick="$(this).next().submit();"
                   class="text-white hover:text-gray-200 px-3 py-2 rounded">
                    로그아웃
                </a>
                <form th:action="|/member/logout|" method="post"  hidden></form>
            </li>


        </ul>
    </div>
</nav>