<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>BOJ 연동</title></head>

<main layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">

    <script th:replace="~{member/fragment/valid :: join}"></script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            BOJ 연동하기
        </h1>

        <form th:replace="~{member/fragment/connect/connectForm :: connectForm(${baekJoonConnectForm})}"></form>

    </div>

</main>
</html>

