<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>Baeker</title></head>

<div layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">

    <div class="hero min-h-screen"
         style="background-image: url(/images/welcome.jpg);">

        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">

            <div class="max-w-md flex flex-col items-center">

                <h1 class="mb-5 text-5xl font-bold">Hello there</h1>

                <p class="mb-5">
                    알고리즘 실력 향상은 BAEKER!<br>
                    알고리즘 공부를 위한 스터디 그룹을 만들고 가입하세요.<br>
                    다양한 규칙 수행 보상을 통해 스터디 랭커에 도전해 보세요!<br>
                </p>

                <div class="min-w-full">
                    <script th:replace="~{member/fragment/valid :: join}"></script>
                    <form th:replace="~{member/fragment/loginForm :: loginForm(${memberLoginForm})}"></form>
                </div>

                <a href="/oauth2/authorization/kakao" class="center">
                    <img src="/images/kakao_login.png">
                </a>

            </div>
        </div>
    </div>

</div>
</html>