<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title th:text="|${member.getNickName} 님의 프로필|"></title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col gap-12">

    <div class="m-3"></div>

    <!-- 프로필 -->
    <div class="flex-grow flex flex-row items-center justify-center">

        <div th:replace="~{member/fragment/member/profile :: profile (${member}, ${myStudies})}"></div>

        <div th:replace="~{member/fragment/member/status :: status (${member})}"></div>

    </div>

    <div class="w-full flex  justify-center">

        <div th:replace="~{member/fragment/member/list :: list(${list}, ${memberStudies}, ${member}, ${snapshotList})}"></div>

    </div>


</div>
</html>