<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>내정보 수정</title></head>

<main layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">

  <script th:replace="~{member/fragment/valid :: join}"></script>

  <div class="max-w-2xl w-full px-4">
    <h1 class="mb-4">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
      내정보 수정
    </h1>

    <form th:replace="~{member/fragment/modify/modifyForm :: modifyForm(${memberModifyForm}, ${random})}"></form>


  </div>

</main>
</html>