<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>내정보</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col gap-12">

    <div class="m-3"></div>

    <!-- 프로필 -->
    <div class="flex-grow flex flex-row items-center justify-center">

        <div th:replace="~{member/fragment/profile/profile :: profile}"></div>

        <div th:replace="~{member/fragment/profile/status :: status}"></div>

    </div>

    <!-- 스터디 리스트 -->
    <div class="lex-grow flex flex-row justify-center min-h-screen">

        <form th:replace="~{member/fragment/profile/study :: study}"></form>

    </div>


</div>
</html>