<div th:fragment="listTable (paging)"
     class="overflow-x-auto min-w-[50%] mb-5">

    <table class="table w-full">
        <!-- head -->
        <thead>
        <tr>
            <th></th>
            <th>이름</th>
            <th>랭킹</th>
            <th class="flex justify-center">가입한 스터디</th>
        </tr>
        </thead>
        <tbody>

        <!-- row -->
        <tr class="hover"
            th:each="member , loop : ${paging}">

            <th th:text="${paging.number * paging.size + loop.index + 1}"></th>

            <td>
                <a th:href="@{/member/member/{id}/rank/rank(id=${member.id})}">
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img th:src="@{${member.profileImg}}"/>
                            </div>
                        </div>
                        <div>
                            <div th:text="${member.nickName}"
                                 class="font-bold">
                            </div>
                            <div th:text="${member.about}"
                                 class="text-sm opacity-50">
                            </div>
                        </div>
                    </div>
                </a>
            </td>

            <td>
                <a class="flex justify-center"
                   th:href="@{/member/member/{id}/rank(id=${member.id})}">
                    <span th:text="|0|"></span>
                    <br/>
                </a>
            </td>

            <td>
                <a class="flex justify-center"
                   th:href="@{/member/member/{id}/rank(id=${member.id})}">
                    <span th:text="${member.myStudies.size}"></span>
                </a>
            </td>
        </tr>

        </tbody>

    </table>
</div>