<div th:fragment="list (list, memberStudies, member, snapshotList)"
     class="overflow-x-auto w-[70%] mb-5 min-h-screen">

    <div class="tabs flex justify-center mb-7 mt-3">

        <div class="tabs" id="list">

            <a th:href="@{/member/member/{id}/rank#list(id=${member.id})}"
               class="tab tab-bordered"
               th:classappend="${list == 'rank'} ? 'tab-active' : ''">백준</a>

            <a th:href="@{/member/member/{id}/rank2#list(id=${member.id})}"
               class="tab tab-bordered"
               th:classappend="${list == 'rank2'} ? 'tab-active' : ''">프로그래머스</a>

            <a th:href="@{/member/member/{id}/study#list(id=${member.id})}"
               class="tab tab-bordered"
               th:classappend="${list == 'study'} ? 'tab-active' : ''">스터디</a>

        </div>


    </div>
    <div th:if="${list eq 'rank'} and ${member.baekJoonName ne null}" class="flex">
        <div th:replace="~{member/fragment/member/baekJoon :: baekJoon(${member})}"></div>

        <div th:replace="~{member/fragment/profile/chart :: chart(${snapshotList})}"></div>
    </div>

    <div th:if="${list eq 'rank'} and ${member.baekJoonName eq null}"
         class="flex justify-center">
        <span>연동된 백준 계정이 없습니다.</span>
    </div>

    <div th:if="${list eq 'rank2'}"
         class="flex justify-center">
        <span>연동된 프로그래머스 계정이 없습니다.</span>
    </div>

    <table th:replace="~{member/fragment/member/study :: study (${list}, ${memberStudies})}"></table>


</div>
