<div th:fragment="profile(member, myStudies)"
     class="card w-60 bg-base-100 shadow-xl flex">

    <div class="card-body items-center text-center pt-10">


        <img th:src="@{${member.profileImg}}"
             alt="profile image" class="rounded-xl px-10 pt-10"/>


        <h2 class="card-title"
            th:text="${member.nickName}">
        </h2>

        <p th:text="${member.about}"></p>

        <div th:if="${@rq.login}" class="card-actions mt-5">


            <a href="#my-modal-2"
               th:if="${myStudies.size > 0}"
               class="btn btn-primary">스터디로 초대하기
            </a>

            <div th:replace="~{member/fragment/member/invite :: invite(${member}, ${myStudyInviteForm}, ${myStudies})}"></div>

        </div>

    </div>
</div>