<div th:fragment="profile(member)"
     class="card w-60 bg-base-100 shadow-xl flex">

    <div class="card-body items-center text-center pt-10">


        <img th:src="@{https://avatars.dicebear.com/api/avataaars/__${member.profileImg}__.svg}"
             alt="profile image" class="rounded-xl px-10 pt-10"/>


        <h2 class="card-title"
            th:text="${member.nickName}">
        </h2>

        <p th:text="${member.about}"></p>

        <div th:if="${@rq.login}"
             class="card-actions mt-5">
            <a th:if="${member.myStudies.size gt 0}"
               class="btn btn-primary">스터디로 초대하기
            </a>
        </div>

    </div>
</div>