<div th:fragment="status(member)"
     class="stats stats-vertical shadow">

    <div class="stat">
      <div class="stat-title">Ranking</div>
      <div class="stat-value">31th</div>
      <div class="stat-desc"></div>
    </div>

    <div class="stat">
      <div class="stat-title">백준</div>
      <div class="stat-value">4,200</div>
      <div class="stat-desc">↗︎ 400 (22%)</div>
    </div>

    <div class="stat">
      <div class="stat-title">프로그래머스</div>
      <div class="stat-value">1,200</div>
      <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>

</div>