<div th:fragment="baekJoon(list)"
     th:if="${list eq 'rank'}"
     class="w-full flex justify-center">

    <div class="stats stats-vertical shadow">

        <div class="stat">
            <div class="stat-title">BRONZE</div>

            <div class="mt-2">
                <span class="stat-value"
                  th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

        <div class="stat">
            <div class="stat-title">SLIVER</div>

            <div class="mt-2">
                <span class="stat-value"
                      th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

        <div class="stat">
            <div class="stat-title">GOLD</div>

            <div class="mt-2">
                <span class="stat-value"
                      th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

    </div>
    <div class="stats stats-vertical shadow">

        <div class="stat">
            <div class="stat-title">DIAMOND</div>

            <div class="mt-2">
                <span class="stat-value"
                      th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

        <div class="stat">
            <div class="stat-title">RUBY</div>

            <div class="mt-2">
                <span class="stat-value"
                      th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

        <div class="stat">
            <div class="stat-title">PLATINUM</div>

            <div class="mt-2">
                <span class="stat-value"
                      th:text="${@rq.member.bronze}">
                </span>
                <span class="stat-title">solved</span>
            </div>

            <div class="stat-desc"></div>
        </div>

    </div>

</div>