<table th:fragment="join(list, pending)"
       th:if="${list eq 'join'}"
       class="table w-full">
    <!-- head -->
    <thead>
    <tr>
        <th></th>
        <th>스터디</th>
        <th class="flex-grow">소개</th>
        <th>인원</th>
        <th>스터디장</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover"
        th:each="myStudy , loop : ${pending}"
        th:object="${myStudy.study}">

        <th>
            <a th:text="${loop.count}"
               th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
        </th>
        <td>
            <a th:text="*{name}"
               th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
        </td>
        <td>
            <a th:text="*{about}"
               th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
        </td>
        <td>
            <a class="badge  mt-2.5"
               th:text="|*{myStudies.size} / *{capacity}|"
               th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
        </td>
        <td>
            <a th:text="*{leader}"
               th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
        </td>
        <td>
            <a class="link link-primary"
               href="#my-modal-2">
                상태
            </a>

            <div th:replace="~{member/fragment/profile/pending :: pending(${myStudy})}"></div>
        </td>
    </tr>

    </tbody>
</table>