<div th:fragment="pending(myStudy)"
     class="modal" id="my-modal-2">

  <div class="modal-box">


    <h3 th:if="${myStudy.status eq T(com.baeker.baeker.myStudy.StudyStatus).PENDING}"
        th:text="|${myStudy.study.name}에 가입 신청|"
        class="font-bold text-lg"></h3>


    <h3 th:if="${myStudy.status eq T(com.baeker.baeker.myStudy.StudyStatus).INVITING}"
        th:text="|${myStudy.study.name}에서 초대|"
        class="font-bold text-lg"></h3>

    <form th:action="@{/my_study/modify/msg/{id}(id=${myStudy.id})}"
          method="post" class="mt-5 mb-5 flex flex-col">


      <textarea th:text="${myStudy.msg}" name="msg" placeholder="메시지 수정"
                class="textarea textarea-ghost mb-5 mt-5 w-full"></textarea>


      <button class="btn btn-primary">메시지 수정하기</button>

      <a href="#" class="btn mt-4">취소</a>

    </form>
  </div>
</div>