<div th:fragment="study"
     class="overflow-x-auto min-w-[70%]">

    <table class="table w-full">
        <!-- head -->
        <thead>
        <tr>
            <th></th>
            <th>스터디</th>
            <th class="flex-grow">소개</th>
            <th>인원</th>
            <th>스터디장</th>
            <th>랭킹</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover"
            th:each="myStudy , loop : ${@rq.member.myStudies}"
            th:object="${myStudy.study}">

            <th>
                <a th:text="${loop.count}"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </th>
            <td>
                <a th:text="*{name}"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </td>
            <td>
                <a th:text="*{about}"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </td>
            <td>
                <a class="badge  mt-2.5"
                   th:text="|*{myStudies.size} / *{capacity}|"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </td>
            <td>
                <a th:text="*{leader}"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </td>
            <td>
                <a th:text="|0|"
                   th:href="@{/study/detail/{list}/{id}(list='rule', id=*{id})}"></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>