<form th:fragment="modifyForm (memberModifyForm, random)"
      th:action th:object="${memberModifyForm}" method="post"
      class="flex flex-col gap-6"
      onsubmit="JoinForm__submit(this); return false;">

    <div class="flex justify-center">
        <table>
            <thead>
            <tr>
                <th>카톡 이미지</th>
                <th>랜덤 이미지</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div th:replace="~{member/fragment/modify/myImg :: myImg (${memberModifyForm})}"></div>
                </td>
                <td>
                    <div th:replace="~{member/fragment/modify/slide :: slide (${memberModifyForm}, ${random})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text">이름</span>
        </label>
        <input type="text" th:field="*{nickName}" placeholder="이름" class="input input-bordered" autofocus/>
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text">한줄 소개</span>
        </label>
        <input type="text" th:field="*{about}" placeholder="소개" class="input input-bordered" autofocus/>
    </div>

    <button class="btn btn-block btn-primary gap-1 mt-8">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <span>수정하기</span>
    </button>

</form>