<table th:fragment="members (myStudies, list)"
       th:if="${list eq 'member'}"
       class="table w-full">
    <!-- head -->
    <thead>
    <tr>
        <th></th>
        <th>이름</th>
        <th>랭킹</th>
        <th class="flex justify-center">가입한 스터디</th>
    </tr>
    </thead>
    <tbody>

    <!-- row -->
    <tr class="hover"
        th:each="myStudy , loop : ${myStudies}">

        <th th:text="${loop.count}"></th>

        <td>
            <a th:href="@{/member/member/{id}/rank(id=${myStudy.member.id})}">
                <div class="flex items-center space-x-3">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            <img th:src="${myStudy.member.profileImg}"/>
                        </div>
                    </div>
                    <div>
                        <div th:text="${myStudy.member.nickName}"
                             class="font-bold">
                        </div>
                        <div th:text="${myStudy.member.about}"
                             class="text-sm opacity-50">
                        </div>
                    </div>
                </div>
            </a>
        </td>

        <td>
            <a class="flex justify-center"
               th:href="@{/member/member/{id}/rank(id=${myStudy.member.id})}">
                <span th:text="|0|"></span>
                <br/>
            </a>
        </td>

        <td>
            <a class="flex justify-center"
               th:href="@{/member/member/{id}/rank(id=${myStudy.member.id})}">
                <span th:text="${myStudy.member.myStudies.size}"></span>
            </a>
        </td>
    </tr>

    </tbody>

</table>