<div th:fragment="profile (study, isMyStudy, myStudyJoinForm)"
     class="hero h-80 bg-base-200 flex justify-start">
    <div class="hero-content flex-col lg:flex-row ml-8">

        <img src="https://picsum.photos/200" class="max-w-sm rounded-lg shadow-2xl mr-8"/>

        <div>
            <h1 th:text="${study.name}"
                class="text-5xl font-bold">
            </h1>

            <p th:text="${study.about}"
               class="py-6">
            </p>

            <div th:if="${@rq.login}" class="flex gap-5">

                <span th:if="${study.leader eq @rq.member.getNickName}">
                    <a th:href="@{/studyRule/create/{id}(id=${study.id})}"
                       class="btn btn-primary">규칙 만들기
                    </a>
                </span>

                <span th:if="${study.leader eq @rq.member.getNickName}">
                    <a th:href="@{/study/modify/{id}(id=${study.id})}"
                       class="btn btn-primary">스터디 수정하기
                    </a>
                </span>

                <span th:if="${@rq.member.nickName ne study.leader}">
                    <a href="#my-modal-2"
                       class="btn btn-primary">스터디 가입하기
                    </a>

                    <div th:replace="~{study/fragment/detail/join :: join(${study}, ${myStudyJoinForm})}"></div>
                </span>
            </div>
        </div>

    </div>
    <div id="list"></div>
</div>
</div>