<table th:fragment="rules (studyRules, list)"
       th:if="${list eq 'rule'}"
       class="table w-full">
  <!-- head -->
  <thead>
  <tr class="flex">
    <th class="grow-[1]"></th>
    <th class="grow-[1]">규칙</th>
    <th class="grow-[10]">소개</th>
    <th class="grow-[1]">작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr class="hover flex"
      th:each="studyRule , loop : ${studyRules}"
      th:object="${studyRule}">

    <th class="grow-[1]">
      <a th:text="${loop.count}"
         th:href="@{/studyRule/detail/{id}(id=*{id})}"></a>
    </th>
    <td class="grow-[1]">
      <a th:text="*{name}"
         th:href="@{/studyRule/detail/{id}(id=*{id})}"></a>
    </td>
    <td class="grow-[10]">
      <a th:text="*{about}"
         th:href="@{/studyRule/detail/{id}(id=*{id})}"></a>
    </td>
    <td class="grow-[1]">
      <a th:text="${#temporals.format(studyRule.selectDate, 'yyyy-MM-dd')}"
         th:href="@{/studyRule/detail/{id}(id=*{id})}"></a>
    </td>
  </tr>

  </tbody>
</table>