<div th:fragment="stat(study)"
     class="stats shadow mb-5">

    <div class="stat">
        <div class="stat-title">스터디 랭킹</div>
        <div class="stat-value text-primary">25.6K</div>
        <div class="stat-desc">21% more than last month</div>
    </div>

    <div class="stat">
        <div class="stat-title">해결한 문제</div>
        <div class="stat-value text-secondary">2.6M</div>
        <div class="stat-desc">21% more than last month</div>
    </div>

    <div class="stat">
        <div class="stat-title">해결한 미션</div>
        <div class="stat-value">86%</div>
        <div class="stat-desc text-secondary">31 tasks remaining</div>
    </div>

</div>